<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= typeof title !== 'undefined' ? title : 'Cocktail Explorer' %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
    <nav>
        <div class="logo">Cocktail Explorer</div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/search">Search Cocktails</a></li>
        </ul>
    </nav>
    </header>

    <div class="container">
        <%- body %>
    </div>

    <footer>
        <div class="footer-content">
            © 2025 Cocktail Explorer : Made with 
            <span class="heart-icon">❤️</span> 
            by <a href="#" target="_blank">Omswaroop T M</a>
        </div>
    </footer>

    <script src="/script.js"></script>
</body>
</html>